<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataTools.Properties.Settings>
            <setting name="SberBankCS" serializeAs="String">
                <value>Data Source=sber-bank.database.windows.net;Initial Catalog=SberBankDb;Integrated Security=False;User ID=Yura;Password=Train2brain4;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
            <setting name="SberBankPreditionModel" serializeAs="String">
                <value>Data Source=sber-bank.database.windows.net;Initial Catalog=SberBankPredictionModelDb;Integrated Security=False;User ID=Yura;Password=Train2brain4;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
        </DataTools.Properties.Settings>
    </userSettings>
</configuration>